.centercard{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.center1{
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.77);
    margin-top: 100px;
    margin-bottom: 100px;
    background: rgba(20, 20, 20, 0.7);

}

/*alteração de tag*/
.cen{
	width: 100%;
	text-align: center;
	margin-top: 4px;

}
.formu{
	padding: 20px 100px 20px 0px;

}
.center{
	position: relative;
	left: 50%;
	transform: translate(-50%, -0%);
	width:  100%;
	height: auto;

}
.no{
	font-family: Georgia;
	color: white;
	/*border-bottom: 1px solid grey;*/
	text-align: center;

}
.ne{
	background: rgba(20, 20, 20, 0.7);
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.77);
    
}
.esquerda{
	text-align: left;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.77);

  

}
.adornos{
	margin: 0 auto;
	margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;

}

body{
	background: url(../img/backcadas.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	filter: contrast(135%) saturate(161%);
}

