h1 {
text-align: center; 
color: #056383;
text-indent: 2px;
}

h2 {
text-align: center; 
color: gray;
text-indent: 2px;
}

body{
	background: white
}

.centercard{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.center1{
	margin: 0 auto;
	width: 70%;
}
/*alteração de tag*/
.cen{
	width: 100%;
	text-align: center;
	margin-top: 4px;
	font-size: 15px

}
.center{
	position: relative;
	left: 50%;
	transform: translate(-50%, -0%);
	width:  100%;
	height: auto;

}
.centertext{
	text-align: center;
	display: block;

}

.titulos{
	background: #A7DEF1;
	margin-top: 10px;
	margin-bottom: 10px;

}
.sombra{
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.tcor{
	color: white
}

.img{
	filter: contrast(145%) saturate(161%);
	height: 32em;
}

/*carousel*/

.backblack{
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
}

.carousel-caption{
	right: 0px;
	left: 0px;
}

.img-carousel{
	height: 500px;
	filter: contrast(145%) saturate(161%);
}

.transparent{
	opacity: 0.2;
}

.slide:hover > .transparent{
	opacity: 1;
	transition: 0.2s;
}
/*EDITANDO LOJAS E SERVIÇOS*/
.titulo{
	padding: 10px 0;
	margin: 15px 0px 15px 0px;
	color: black;
}
.cards{
	margin-top: 5px;
	margin-bottom: 5px;
}

.cards span.h5{
	border-bottom: 1px dashed black;
	padding-bottom: 5px;
	color: black;
}

.cards:hover span.h5{
	border-bottom: 1px solid black;
	transition: 0.2s;
}
.card-img-top{
	height: 225px; 
	width: 100%; 
	display: block;
}
.cards a{
	text-decoration: none;
}
.textbasic{
	color: black;
}
.cards:hover .card-body{
	background: rgba(0, 0, 0, 0.2);
	transition: 0.1s;
}
.bg{
	background: transparent;
}


/*conteudo geral*/
.tagSpan{	
	padding: 2px;
	margin: 0px;
	float: right;
	color: gray;
}

.tagLink{
	color: gray;
}
.tagLink:hover{
	color: gray;
}
.tags{
	margin: 2px 0px;
}
.categoriaLink{
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
}

.categoriaLink:hover{
	color: rgba(0, 0, 0, 1);
}

.categoria{
	margin: 6px 0px;
	width: 100%;	
}
.conteudoCard{
	margin: 2px 0px;
}

/*EDITANDO O ANUNCIO*/
.anuncio{
	border: 1px dashed;
}


/*TAMANHO DA IMAGEM DO CAROUSEL*/
.tamanho-img{
	height: 650px;
}

/*fontes*/


/*fim do carousel*/

/*
	cor massa
background: rgba(125, 187, 58, 0.2);
*/

/*.centerALL{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.centerLADOS{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}*/



/*alterando scroll */
body{ height:300px; overflow:scroll; } /* limitando altura do box */
body::-webkit-scrollbar { width:4px; background:#e3e0d6; background: transparent;} /* configurando scroll */
body::-webkit-scrollbar-track { background: rgba(0,0,0,0.2); }
body::-webkit-scrollbar-thumb { border-radius:10px; background:black;  }