/*background*/
.bg{
	background: rgba(254, 254, 254, 1);
}

/*font geral*/

/*FONT do title*/
.font-title{
	color: rgb(20, 20, 20)
}
.center1{
	margin: 0 auto;
	width: 100%;
	height: 28em

}

.center{
	position: relative;
	left: 50%;
	transform: translate(-50%, -0%);
	width:  100%;
	height: auto;

}
.titulo{
	margin: 0;
	background: black;
	color: white;
}
.titulos{
	background: #A7DEF1;
	margin-top: 10px;
	margin-bottom: 10px;
}
.vertical{

	height: 100%;
	text-align: center;
	position: relative;
}
.horizontal{

	height: 400px;
	background: transparent;
	text-align: center;
}



.paragrafo{
	text-indent: 4em;
}

/*Layout*/
.lateral-direito{
	border-left: 1px solid black;
}

/*alterando informacoes*/

.title-individual{
	color: rgb(10, 100, 200);
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	font-family: Georgia, serfi;
	font-style: italic;
	font-weight: 900; 
}


/*Editando imagens individuais*/
.img-individual{
	margin-top: 5px;
	width: auto;
	height: auto;
	filter: contrast(125%) saturate(131%);
}

.capa{
	background-image: url(../img/hotel.jpg);
	background-repeat: no-repeat;
	background-position: center;	
	background-attachment: fixed;
	height: 600px;
	filter: contrast(125%) saturate(141%);
}

.capa2{
	background-image: url(../img/hotel.jpg);
	background-repeat: no-repeat;
	background-position: center;	
	background-attachment: fixed;
	height: 450px;
	filter: contrast(125%) saturate(141%);
}

.capa-div{
	width: 100%;
}

.capa-individual{
	height: 60%;
	width: 100%;
}

/*Mexendo no mapa*/
.center-map{
	left: 50%;
	transform: ;

}


/*PARALLAX*/

.header-paralax {
	background-image: url(../img/hotel.jpg);
	background-size: cover;
	width: 100%;
	position: fixed;
	height: 566px;
	top: -50px;
}

.header-paralax{
	text-align: center;

}

.text-parallax{   
	text-align: center;
	color: #fff;
	text-shadow: 2px 3px 1px #000;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	letter-spacing: 20px;
	padding: 210px 0;
	display: block;
    font-size: 50px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	margin-top: 0px;
	opacity: 1;

}

.content{
	position: relative;
	display: block;
}

.space-content{
	position: relative;
	height: 456px;
}

