.item1{
	height: 500px;
	width: 100%;
	background-image: url(../img/pousada7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: contrast(145%) saturate(161%);
}
.item2{
	height: 500px;
	width: 100%;
	background-image: url(../img/pousada6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: contrast(145%) saturate(161%);
}

.item3{
	height: 500px;
	width: 100%;
	background-image: url(../img/pousada5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: contrast(145%) saturate(161%);
}

.transparent{
	opacity: 0.2;
}

.slide:hover > .transparent{
	opacity: 1;
	transition: 0.2s;
}